extends layout

block content
  #post.post
    .post-photo
      img
    .post-text
    .post-trigger
    .post-location

  .stats

  script.
    $( document ).ready(function() {
      var socket = io();

      socket.on('tweet', function(response){
        $(".post").fadeOut(1000, function() {
            $(".post-photo > img").attr('src', '');
            $(".post-photo > img").attr('src', response.user_image);
            $(".post-text").html(response.message);
            $(".post-trigger").html(response.user_name);
            $(".post-location").html(response.place);
            $(".post").fadeIn(1000);
          });
      });
    });
